In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [3]:
test = pd.read_csv('test.csv')
test

,id,sale_date,sale_nbr,sale_warning,join_status,join_year,latitude,longitude,area,city,...,view_olympics,view_cascades,view_territorial,view_skyline,view_sound,view_lakewash,view_lakesamm,view_otherwater,view_other,submarket
0,200000,2022-12-15,4.0,,new,2025,47.4794,-122.2212,25,RENTON,...,0,0,0,0,0,0,0,0,0,J
1,200001,2000-10-15,2.0,,new,2025,47.5778,-122.0270,69,SAMMAMISH,...,0,0,0,0,0,0,0,0,0,O
2,200002,2004-06-15,1.0,,nochg,2025,47.5632,-122.1623,31,BELLEVUE,...,3,0,3,3,0,2,0,0,0,R
3,200003,2009-11-15,1.0,,nochg,2025,47.6911,-122.3469,6,SEATTLE,...,0,0,0,0,0,0,0,0,0,B
4,200004,1999-06-15,1.0,,reno - before,1999,47.4001,-122.4146,100,KING COUNTY,...,0,2,4,0,3,0,0,0,0,H
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,399995,2004-03-15,2.0,,nochg,2025,47.5489,-122.2704,81,SEATTLE,...,0,0,0,0,0,0,0,0,0,E
199996,399996,2006-09-15,3.0,,miss99,2025,47.7093,-122.2116,37,KIRKLAND,...,0,0,0,0,0,0,0,0,0,Q
199997,399997,2021-06-15,4.0,,nochg,2025,47.2666,-122.2442,87,PACIFIC,...,0,0,0,0,0,0,0,0,0,L
199998,399998,2012-04-15,2.0,,new,2025,47.5500,-121.9952,75,ISSAQUAH,...,0,0,0,0,0,0,0,0,0,N
199999,399999,2004-07-15,1.0,,new,2025,47.6059,-122.0207,35,SAMMAMISH,...,0,0,0,0,0,0,0,0,0,O

In [4]:
train = pd.read_csv('dataset.csv')
train

,id,sale_date,sale_price,sale_nbr,sale_warning,join_status,join_year,latitude,longitude,area,...,view_olympics,view_cascades,view_territorial,view_skyline,view_sound,view_lakewash,view_lakesamm,view_otherwater,view_other,submarket
0,0,2014-11-15,236000,2.0,,nochg,2025,47.2917,-122.3658,53,...,0,0,0,0,0,0,0,0,0,I
1,1,1999-01-15,313300,NaN,26,nochg,2025,47.6531,-122.1996,74,...,0,0,0,0,0,1,0,0,0,Q
2,2,2006-08-15,341000,1.0,,nochg,2025,47.4733,-122.1901,30,...,0,0,0,0,0,0,0,0,0,K
3,3,1999-12-15,267000,1.0,,nochg,2025,47.4739,-122.3295,96,...,0,0,0,0,0,0,0,0,0,G
4,4,2018-07-15,1650000,2.0,,miss99,2025,47.7516,-122.1222,36,...,0,0,0,0,0,0,0,0,0,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,199995,2000-08-15,277500,1.0,,nochg,2025,47.5503,-122.0285,69,...,0,0,0,0,0,0,0,0,0,O
199996,199996,2019-07-15,1296000,2.0,,new,2025,47.6789,-122.1164,72,...,0,0,0,0,0,0,0,0,0,P
199997,199997,2018-06-15,845000,2.0,,new,2025,47.6939,-122.3542,6,...,0,0,0,0,0,0,0,0,0,B
199998,199998,2018-06-15,890000,2.0,,nochg,2025,47.6433,-122.0613,35,...,0,0,0,0,0,0,0,0,0,O
199999,199999,2024-06-15,799000,NaN,,new,2025,47.5806,-122.3881,48,...,0,0,0,0,0,0,0,0,0,F

In [5]:
train.head()

,id,sale_date,sale_price,sale_nbr,sale_warning,join_status,join_year,latitude,longitude,area,...,view_olympics,view_cascades,view_territorial,view_skyline,view_sound,view_lakewash,view_lakesamm,view_otherwater,view_other,submarket
0,0,2014-11-15,236000,2.0,,nochg,2025,47.2917,-122.3658,53,...,0,0,0,0,0,0,0,0,0,I
1,1,1999-01-15,313300,NaN,26,nochg,2025,47.6531,-122.1996,74,...,0,0,0,0,0,1,0,0,0,Q
2,2,2006-08-15,341000,1.0,,nochg,2025,47.4733,-122.1901,30,...,0,0,0,0,0,0,0,0,0,K
3,3,1999-12-15,267000,1.0,,nochg,2025,47.4739,-122.3295,96,...,0,0,0,0,0,0,0,0,0,G
4,4,2018-07-15,1650000,2.0,,miss99,2025,47.7516,-122.1222,36,...,0,0,0,0,0,0,0,0,0,P

In [6]:
train.info()
train.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 47 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                200000 non-null  int64
 1   sale_date         200000 non-null  object
 2   sale_price        200000 non-null  int64
 3   sale_nbr          157818 non-null  float64
 4   sale_warning      200000 non-null  object
 5   join_status       200000 non-null  object
 6   join_year         200000 non-null  int64
 7   latitude          200000 non-null  float64
 8   longitude         200000 non-null  float64
 9   area              200000 non-null  int64
 10  city              200000 non-null  object
 11  zoning            200000 non-null  object
 12  subdivision       182450 non-null  object
 13  present_use       200000 non-null  int64
 14  land_val          200000 non-null  int64
 15  imp_val           200000 non-null  int64
 16  year_built        200000 non-null  int64
 17  year_reno         200000 non-null  int64
 18  sqft_lot          200000 non-null  int64
 19  sqft              200000 non-null  int64
 20  sqft_1            200000 non-null  int64
 21  sqft_fbsmt        200000 non-null  int64
 22  grade             200000 non-null  int64
 23  fbsmt_grade       200000 non-null  int64
 24  condition         200000 non-null  int64
 25  stories           200000 non-null  float64
 26  beds              200000 non-null  int64
 27  bath_full         200000 non-null  int64
 28  bath_3qtr         200000 non-null  int64
 29  bath_half         200000 non-null  int64
 30  garb_sqft         200000 non-null  int64
 31  gara_sqft         200000 non-null  int64
 32  wfnt              200000 non-null  int64
 33  golf              200000 non-null  int64
 34  greenbelt         200000 non-null  int64
 35  noise_traffic     200000 non-null  int64
 36  view_rainier      200000 non-null  int64
 37  view_olympics     200000 non-null  int64
 38  view_cascades     200000 non-null  int64
 39  view_territorial  200000 non-null  int64
 40  view_skyline      200000 non-null  int64
 41  view_sound        200000 non-null  int64
 42  view_lakewash     200000 non-null  int64
 43  view_lakesamm     200000 non-null  int64
 44  view_otherwater   200000 non-null  int64
 45  view_other        200000 non-null  int64
 46  submarket         198283 non-null  object
dtypes: float64(4), int64(36), object(7)
memory usage: 71.7+ MB

,id,sale_price,sale_nbr,join_year,latitude,longitude,area,present_use,land_val,imp_val,...,view_rainier,view_olympics,view_cascades,view_territorial,view_skyline,view_sound,view_lakewash,view_lakesamm,view_otherwater,view_other
count,200000.000000,2.000000e+05,157818.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,2.000000e+05,2.000000e+05,...,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,99999.500000,5.841495e+05,2.162599,2023.403600,47.549248,-122.210416,48.644215,4.108860,4.601691e+05,4.917715e+05,...,0.017940,0.053985,0.058800,0.215550,0.018425,0.055565,0.050075,0.014090,0.020875,0.013455
std,57735.171256,4.170595e+05,1.113090,6.241643,0.142710,0.140339,27.132002,7.199323,3.510444e+05,3.680505e+05,...,0.218994,0.379119,0.381868,0.724224,0.222746,0.380011,0.353664,0.200154,0.248977,0.181147
min,0.000000,5.029300e+04,1.000000,1999.000000,47.155200,-122.527700,1.000000,2.000000,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,49999.750000,3.050000e+05,1.000000,2025.000000,47.446500,-122.323800,26.000000,2.000000,2.310000e+05,2.800000e+05,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,99999.500000,4.599500e+05,2.000000,2025.000000,47.562800,-122.222700,48.000000,2.000000,3.770000e+05,4.090000e+05,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,149999.250000,7.249500e+05,3.000000,2025.000000,47.673500,-122.121700,71.000000,2.000000,5.940000e+05,5.990000e+05,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,199999.000000,2.999950e+06,11.000000,2025.000000,47.777800,-121.161300,100.000000,29.000000,1.386400e+07,1.006700e+07,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000

In [7]:
train['sale_date'] = pd.to_datetime(train['sale_date'])
test['sale_date'] = pd.to_datetime(test['sale_date'])

In [8]:
train.isnull().sum()

id                      0
sale_date               0
sale_price              0
sale_nbr            42182
sale_warning            0
join_status             0
join_year               0
latitude                0
longitude               0
area                    0
city                    0
zoning                  0
subdivision         17550
present_use             0
land_val                0
imp_val                 0
year_built              0
year_reno               0
sqft_lot                0
sqft                    0
sqft_1                  0
sqft_fbsmt              0
grade                   0
fbsmt_grade             0
condition               0
stories                 0
beds                    0
bath_full               0
bath_3qtr               0
bath_half               0
garb_sqft               0
gara_sqft               0
wfnt                    0
golf                    0
greenbelt               0
noise_traffic           0
view_rainier            0
view_olympics           0
view_cascades           0
view_territorial        0
view_skyline            0
view_sound              0
view_lakewash           0
view_lakesamm           0
view_otherwater         0
view_other              0
submarket            1717
dtype: int64

In [9]:
train.drop('sale_nbr', axis=1, inplace=True)

In [10]:
train

,id,sale_date,sale_price,sale_warning,join_status,join_year,latitude,longitude,area,city,...,view_olympics,view_cascades,view_territorial,view_skyline,view_sound,view_lakewash,view_lakesamm,view_otherwater,view_other,submarket
0,0,2014-11-15,236000,,nochg,2025,47.2917,-122.3658,53,FEDERAL WAY,...,0,0,0,0,0,0,0,0,0,I
1,1,1999-01-15,313300,26,nochg,2025,47.6531,-122.1996,74,KIRKLAND,...,0,0,0,0,0,1,0,0,0,Q
2,2,2006-08-15,341000,,nochg,2025,47.4733,-122.1901,30,RENTON,...,0,0,0,0,0,0,0,0,0,K
3,3,1999-12-15,267000,,nochg,2025,47.4739,-122.3295,96,BURIEN,...,0,0,0,0,0,0,0,0,0,G
4,4,2018-07-15,1650000,,miss99,2025,47.7516,-122.1222,36,KING COUNTY,...,0,0,0,0,0,0,0,0,0,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,199995,2000-08-15,277500,,nochg,2025,47.5503,-122.0285,69,ISSAQUAH,...,0,0,0,0,0,0,0,0,0,O
199996,199996,2019-07-15,1296000,,new,2025,47.6789,-122.1164,72,REDMOND,...,0,0,0,0,0,0,0,0,0,P
199997,199997,2018-06-15,845000,,new,2025,47.6939,-122.3542,6,SEATTLE,...,0,0,0,0,0,0,0,0,0,B
199998,199998,2018-06-15,890000,,nochg,2025,47.6433,-122.0613,35,SAMMAMISH,...,0,0,0,0,0,0,0,0,0,O
199999,199999,2024-06-15,799000,,new,2025,47.5806,-122.3881,48,SEATTLE,...,0,0,0,0,0,0,0,0,0,F

In [11]:
test.drop('sale_nbr', axis=1, inplace=True)

In [12]:
test

,id,sale_date,sale_warning,join_status,join_year,latitude,longitude,area,city,zoning,...,view_olympics,view_cascades,view_territorial,view_skyline,view_sound,view_lakewash,view_lakesamm,view_otherwater,view_other,submarket
0,200000,2022-12-15,,new,2025,47.4794,-122.2212,25,RENTON,R-8,...,0,0,0,0,0,0,0,0,0,J
1,200001,2000-10-15,,new,2025,47.5778,-122.0270,69,SAMMAMISH,R1,...,0,0,0,0,0,0,0,0,0,O
2,200002,2004-06-15,,nochg,2025,47.5632,-122.1623,31,BELLEVUE,R-3.5,...,3,0,3,3,0,2,0,0,0,R
3,200003,2009-11-15,,nochg,2025,47.6911,-122.3469,6,SEATTLE,LR1 (M1),...,0,0,0,0,0,0,0,0,0,B
4,200004,1999-06-15,,reno - before,1999,47.4001,-122.4146,100,KING COUNTY,RA2.5P,...,0,2,4,0,3,0,0,0,0,H
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,399995,2004-03-15,,nochg,2025,47.5489,-122.2704,81,SEATTLE,NR3,...,0,0,0,0,0,0,0,0,0,E
199996,399996,2006-09-15,,miss99,2025,47.7093,-122.2116,37,KIRKLAND,RM 3.6,...,0,0,0,0,0,0,0,0,0,Q
199997,399997,2021-06-15,,nochg,2025,47.2666,-122.2442,87,PACIFIC,RS 6,...,0,0,0,0,0,0,0,0,0,L
199998,399998,2012-04-15,,new,2025,47.5500,-121.9952,75,ISSAQUAH,UVSF-1,...,0,0,0,0,0,0,0,0,0,N
199999,399999,2004-07-15,,new,2025,47.6059,-122.0207,35,SAMMAMISH,R6,...,0,0,0,0,0,0,0,0,0,O

In [13]:
def winkler_score(y_true,pie_upper,pie_lower,alpha = 0.1):
    score = pie_upper - pie_lower
    score += (2 / alpha) * (pie_lower - y_true) * (y_true < pie_lower)
    score += (2 / alpha) * (y_true - pie_upper) * (y_true > pie_upper)
    return np.mean(score)

In [14]:
categorical_features = ['submarket', 'city', 'zoning', 'subdivision', 'join_status', 'sale_warning']


train_cats = [col for col in categorical_features if col in train.columns]
test_cats = [col for col in categorical_features if col in test.columns]


train = pd.get_dummies(train, columns=train_cats, drop_first=True)
test = pd.get_dummies(test, columns=test_cats, drop_first=True)

In [15]:
train, test = train.align(test, join='left', axis=1, fill_value=0)

In [16]:
features = [col for col in train.columns if col not in ['id', 'sale_date', 'sale_price', 'sale_price_log']]

In [17]:
train['sale_price_log'] = np.log1p(train['sale_price'])

In [18]:
X = train[features]
y = train['sale_price_log']

In [19]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [20]:
rf_model = RandomForestRegressor(
    n_estimators=20,
    random_state=42,
    n_jobs=-1,
    max_features=0.8,
    min_samples_leaf=10
)
rf_model.fit(X_train, y_train)

MemoryError: Unable to allocate 6.63 GiB for an array with shape (11117, 160000) and data type float32

In [ ]:
val_preds = np.array([tree.predict(X_val) for tree in rf_model.estimators_]).T
pi_lower_val_log = np.percentile(val_preds, 5, axis=1)
pi_upper_val_log = np.percentile(val_preds, 95, axis=1)

In [ ]:
pi_lower_val = np.expm1(pi_lower_val_log)
pi_upper_val = np.expm1(pi_upper_val_log)
y_val_original = np.expm1(y_val)

In [ ]:
pi_lower_val = np.minimum(pi_lower_val, pi_upper_val)

In [ ]:
local_winkler = winkler_score(y_val_original, pi_upper_val, pi_lower_val)
print(f"Local Winkler Score (Validation): {local_winkler:.2f}")

In [ ]:
X_test = test[features]
test_preds = np.array([tree.predict(X_test) for tree in rf_model.estimators_]).T
pi_lower_test_log = np.percentile(test_preds, 5, axis=1)
pi_upper_test_log = np.percentile(test_preds, 95, axis=1)

In [ ]:
pi_lower_test = np.expm1(pi_lower_test_log)
pi_upper_test = np.expm1(pi_upper_test_log)


pi_lower_test = np.minimum(pi_lower_test, pi_upper_test)

In [ ]:
submission_df = pd.DataFrame({
    'id': test['id'],
    'pi_lower': pi_lower_test,
    'pi_upper': pi_upper_test
})
submission_df.to_csv('submission.csv', index=False)
print("Submission file created successfully!")